<div id="profile" class="profile angles-wrapper_page angles-wrapper_page-2">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="top-space"></div><!-- /.top-space -->
				<div class="content-top text-center">
					<h2 class="page-title">Profile</h2>
					<h3 class="page-subtitle">Personal Details</h3>					
				</div><!-- /.content-top -->
				<div class="content-bottom">
					<div class="profile-details">
						<p class="description">
							<strong>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
							</strong>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error 
						</p>

						<div class="row">
							<div class="col-sm-5">
								<img src="assets/images/profile.jpg" alt="Personal Image">
							</div>
							<div class="col-sm-7">
								<div class="profile-meta">
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-calendar"></i>
											<span> Birthday</span>
										</div>
										<div class="media-body"><time datetime="1992-02-21">21/02/1992</time></div>
									</div>
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-phone"></i>
											<span> Phone</span>
										</div>
										<div class="media-body">+61 9870 4563</div>
									</div>
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-envelope"></i>
											<span> Email</span>
										</div>
										<div class="media-body"><a href="#">hello@robertdoe.com</a></div>
									</div>
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-skype"></i>
											<span> Skype</span>
										</div>
										<div class="media-body"><a href="#">me-robert.doe </a></div>
									</div>
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-globe"></i>
											<span> Website</span>
										</div>
										<div class="media-body"><a href="http://jeweltheme.com">www.jeweltheme.com</a></div>
									</div>
									<div class="media">
										<div class="meta-icon media-left">
											<i class="fa fa-map-marker"></i>
											<span> Address</span>
										</div>
										<div class="media-body"><p> 121 king street Melbourne VIC 3000, Australia</p></div>
									</div>

									<div class="signature">
										Robert Doe
									</div><!-- /.signature -->

									<div class="btn-container">
										<a class="btn load-more" href="#"> <span class="btn-icon"><i class="fa fa-download"></i></span>Download Resume</a>
									</div><!-- /.btn-container -->
								</div><!-- /.profile-meta -->
							</div>
						</div>
					</div><!-- /.profile-details -->

					<div class="bottom-padding">
						<h3 class="section-title text-center">Hobbies &amp; Interests</h3>
						<div class="interest-list text-center">
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-gamepad"></i></span>
									<span class="item-details">
										<span class="item-title">Games</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-apple"></i></span>
									<span class="item-details">
										<span class="item-title">Apple</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-headphones"></i></span>
									<span class="item-details">
										<span class="item-title">Music</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-coffee"></i></span>
									<span class="item-details">
										<span class="item-title">Coffee</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-film"></i></span>
									<span class="item-details">
										<span class="item-title">Movies</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="#" class="item">
									<span class="item-icon"><i class="fa fa-plane"></i></span>
									<span class="item-details">
										<span class="item-title">Travel</span>
										<span class="item-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
									</span><!-- /.item-details -->
								</a>
							</div>
						</div><!-- /.interest-list -->
					</div><!-- /.bottom-padding -->

					<div class="bottom-padding">
						<h3 class="section-title text-center">Happy Words</h3>

						<div class="client-testimonial text-center">
							<span class="quote-icon"><i class="fa fa-quote-left"></i></span>
							<div id="testimonial-slider" class="testimonial-slider carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
										<div class="client-details">
											<span class="client-name">John Doe</span>
											<span class="designation">CEO at - <a href="#">Envato</a></span>
										</div><!-- /.client-details -->

										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div><!-- /.item -->

									<div class="item">
										<div class="client-details">
											<span class="client-name">Cynthia king</span>
											<span class="designation">Designer at - <a href="#">Google</a></span>
										</div><!-- /.client-details -->

										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>

									</div><!-- /.item -->

									<div class="item">
										<div class="client-details">
											<span class="client-name">John Doe</span>
											<span class="designation">CEO at - <a href="#">Envato</a></span>
										</div><!-- /.client-details -->

										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

									</div><!-- /.item -->
								</div><!-- /.carousel-inner -->

							</div><!-- /#testimonial-slider -->
						</div><!-- /.client-testimonial -->
					</div><!-- /.bottom-padding -->

				</div><!-- /.content-bottom -->	
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->