<div id="services" class="services angles-wrapper_page angles-wrapper_page-5">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="top-space"></div><!-- /.top-space -->
				<div class="content-top text-center">
					<h2 class="page-title">Services</h2>
					<h3 class="page-subtitle">Best quality guranteed</h3>					
				</div><!-- /.content-top -->
				<div class="content-bottom">
					<div class="services">
						<div class="col-sm-4 service-item text-center item-1">
							<div class="progress-icon"><span class="ti-light-bulb"></span></div><!-- /.progress-icon -->
							<h4 class="progress-title">Branding</h4><!-- /.progress-title -->
							<p class="progress-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p><!-- /.progress-description -->			
						</div>
						<div class="col-sm-4 service-item text-center item-2">
							<div class="progress-icon"><span class="ti-paint-bucket"></span></div><!-- /.progress-icon -->
							<h4 class="progress-title">Designing</h4><!-- /.progress-title -->
							<p class="progress-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p><!-- /.progress-description -->			
						</div>
						<div class="col-sm-4 service-item text-center item-3">
							<div class="progress-icon"><span class="ti-desktop"></span></div><!-- /.progress-icon -->
							<h4 class="progress-title">Developing</h4><!-- /.progress-title -->
							<p class="progress-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p><!-- /.progress-description -->			
						</div>

					</div><!-- /.our-services -->

					<div class="bottom-padding">
						<div class="section-title text-center">My Offers</div>
						<div class="pricing-tables">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="table text-center">
										<div class="table-top">
											<h3 class="table-title">Basic</h3><!-- /.table-title -->
											<div class="pricing-cost">
												<span class="currency">$</span>
												<span class="price-money">39</span>
												<span class="duration">Monthly</span>					
											</div><!-- /.pricing-cost -->
										</div><!-- /.table-top -->
										<div class="table-details">
											<p>Web design Service</p>
											<p>Web Developement Service</p>
											<p>Graphic Design Service</p>
											<p>SEO Service</p>
										</div><!-- /.table-details -->
										<div class="table-bottom">
											<div class="continue-reading"><a class="btn" href="#">Order Now</a></div>
										</div><!-- /.table-bottom -->
									</div><!-- /.table -->
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="table text-center">
										<div class="table-top">
											<h3 class="table-title">Professional</h3><!-- /.table-title -->
											<div class="pricing-cost">
												<span class="currency">$</span>
												<span class="price-money">69</span>
												<span class="duration">Monthly</span>					
											</div><!-- /.pricing-cost -->
										</div><!-- /.table-top -->
										<div class="table-details">
											<p>Web design Service</p>
											<p>Web Developement Service</p>
											<p>Graphic Design Service</p>
											<p>SEO Service</p>
										</div><!-- /.table-details -->
										<div class="table-bottom">
											<div class="continue-reading"><a class="btn" href="#">Order Now</a></div>
										</div><!-- /.table-bottom -->
									</div><!-- /.table -->
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="table text-center">
										<div class="table-top">
											<h3 class="table-title">Standard</h3><!-- /.table-title -->
											<div class="pricing-cost">
												<span class="currency">$</span>
												<span class="price-money">59</span>
												<span class="duration">Monthly</span>					
											</div><!-- /.pricing-cost -->
										</div><!-- /.table-top -->
										<div class="table-details">
											<p>Web design Service</p>
											<p>Web Developement Service</p>
											<p>Graphic Design Service</p>
											<p>SEO Service</p>
										</div><!-- /.table-details -->
										<div class="table-bottom">
											<div class="continue-reading"><a class="btn" href="#">Order Now</a></div>
										</div><!-- /.table-bottom -->
									</div><!-- /.table -->
								</div>

							</div>
						</div><!-- /.pricing-tables -->
					</div><!-- /.botom-padding -->

					<div class="bottom-padding">
						<div class="testimonial">
							<div class="section-title text-center">Happy Clients &amp; Partners</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="item">
										<div class="client-details">
											<h4 class="client-name"><a href="#">John Doe,</a> </h4><!-- /.client-name -->
											<span class="position">Ceo</span> of <span class="company">Microsoft</span>
										</div><!-- /.client-details -->
										<p class="client-speech"><span></span>He promptly completed the task at hand and communicates really well till the project reaches the finishing line. I was pleased with his creative design and will definitely be hiring him again</p><!-- /.client-speech -->
									</div><!-- /.item -->
								</div>
								<div class="col-sm-6">
									<div class="item">
										<div class="client-details">
											<h4 class="client-name"><a href="#">Anthony,</a> </h4><!-- /.client-name -->
											<span class="position">Ceo</span> of <span class="company">Google</span>
										</div><!-- /.client-details -->
										<p class="client-speech"><span></span>"Incredible, good and prompt work. This project says that it is due within 24 hours but I got this only in several hours earlier from the due time.” I love this and recommend this to my friends. </p><!-- /.client-speech -->
									</div><!-- /.item -->
								</div>
								<div class="col-sm-6">
									<div class="item">
										<div class="client-details">
											<h4 class="client-name"><a href="#">Julia,</a> </h4><!-- /.client-name -->
											<span class="position">Ceo</span> of <span class="company">Envato</span>
										</div><!-- /.client-details -->
										<p class="client-speech"><span></span>Work completed on time, He was understood what was required and was very helpful. I always like to work with this guy. He is totally awesome and very professional.</p><!-- /.client-speech -->
									</div><!-- /.item -->
								</div>
								<div class="col-sm-6">
									<div class="item">
										<div class="client-details">
											<h4 class="client-name"><a href="#">Martin Doe,</a> </h4><!-- /.client-name -->
											<span class="position">Ceo</span> of <span class="company">Yahoo</span>
										</div><!-- /.client-details -->
										<p class="client-speech"><span></span>Thank You for your very professional work and friendly communication. You are realy an amazing I have ever seen in my life. Your working speed is very fast and I am happy with.</p><!-- /.client-speech -->
									</div><!-- /.item -->
								</div>
							</div><!-- /.row -->
						</div><!-- /.testimonial -->

						<div id="logo-slider" class="logo-slider owl-carousel">
							<div class="item"><img src="assets/images/client/1.png" alt="Clients Logo"></div>
							<div class="item"><img src="assets/images/client/2.png" alt="Clients Logo"></div>
							<div class="item"><img src="assets/images/client/3.png" alt="Clients Logo"></div>
							<div class="item"><img src="assets/images/client/4.png" alt="Clients Logo"></div>
							<div class="item"><img src="assets/images/client/5.png" alt="Clients Logo"></div>
							<div class="item"><img src="assets/images/client/6.png" alt="Clients Logo"></div>
						</div><!-- /#logo-slider -->
					</div><!-- /.bottom-padding -->
				</div><!-- /.content-bottom -->	
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->