<footer class="colophon">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="copy-right">
					<ul>
						<li>&copy; <a href="https://vc.suego.co">SUEGO</a> 2016 - 2020 | All rights reserved.</li>
					</ul>
				</div><!-- /.copy-right -->
			</div>
			<!--
			<div class="col-sm-4">
				<div class="footer-social text-right">
					<ul class="social-list">
						<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
						<li><a href="#"><i class="ti-facebook"></i></a></li>
						<li><a href="#"><i class="ti-instagram"></i></a></li>
						<li><a href="#"><i class="ti-vimeo-alt"></i></a></li>
						<li><a href="#"><i class="ti-dribbble"></i></a></li>
					</ul>
				</div>--><!-- /.footer-social -->
			</div>
		</div>
	</div><!-- /.container -->
</footer>