<div id="home" class="home angles-wrapper_page angles-wrapper_page-1 active">
	<div class="angles-page-content">
		<div class="angles-content">
			<div id="angles-slider" class="angles-slider slider-pro">
				<div class="sp-slides">
					<div class="sp-slide slide-1">
						<!--
						<div class="sp-layer slider-social" data-position="right" data-horizontal="7%" data-vertical="-35%"  data-show-transition="up" data-hide-transition="down" data-show-delay="300">
							<a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-linkedin"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-dribbble"></i></a>
						</div>
						-->
						<h2 class="sp-layer main-title"  data-position="right" data-horizontal="7%" data-vertical="-12%"  data-show-transition="up" data-hide-transition="down" data-show-delay="500">We Start Up Startups</h2>

						<h3 class="sp-layer sub-title"  data-position="right" data-horizontal="7%" data-vertical="-10%" data-show-transition="up" data-hide-transition="down" data-show-delay="800">Targeting Colombia in 2019-2020</h3>

						<div class="sp-layer slider-btn" data-position="right" data-horizontal="7%" data-vertical="22%" data-show-transition="up" data-hide-transition="down" data-show-delay="1100"><a href="#" class="btn" target="_blank">Send Us Your Executive Summary <span class="btn-icon"><i class="fa fa-check-circle"></i></span></a></div>
					</div> 

					<div class="sp-slide slide-2">
						<!--
						<div class="sp-layer slider-social" data-position="right" data-horizontal="5%" data-vertical="-35%"  data-show-transition="left" data-hide-transition="right" data-show-delay="300">
							<a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-linkedin"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-dribbble"></i></a>
						</div>
						-->
						<h2 class="sp-layer main-title"  data-position="right" data-horizontal="5%" data-vertical="-12%"  data-show-transition="left" data-hide-transition="right" data-show-delay="500">Launch, Grow &amp;</h2>

						<h3 class="sp-layer sub-title"  data-position="right" data-horizontal="5%" data-vertical="-10%" data-show-transition="left" data-show-delay="900" data-hide-transition="right">Accelerate Your Business</h3>

						<div class="sp-layer slider-btn" data-position="right" data-horizontal="5%" data-vertical="22%" data-width="350" data-show-transition="left" data-hide-transition="right" data-show-delay="1100"><a href="https://toolkit.techstars.com/" class="btn" target="_blank">Entrepreneur's Tool-Kit <span class="btn-icon"><i class="fa fa-check-circle"></i></span></a></div>
					</div>

					<div class="sp-slide slide-3">
						<!--
						<div class="sp-layer slider-social" data-position="right" data-horizontal="5%" data-vertical="-35%"  data-show-transition="right" data-hide-transition="left" data-show-delay="300">
							<a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-linkedin"></i></a>
							<a class="social-icon" href="#"><i class="fa fa-dribbble"></i></a>
						</div>
						-->
						<div class="sp-layer sp-black"  data-position="right" data-horizontal="5%" data-vertical="-12%"  data-show-transition="right" data-hide-transition="left" data-show-delay="700">
							<h2 class="main-title">Funding &amp; Supporting</h2>
							<h3 class="sub-title">Exceptional Entrepreneurs</h3>
						</div>

						<div class="sp-layer slider-btn" data-position="right" data-horizontal="5%" data-vertical="22%" data-width="350" data-show-transition="right" data-show-delay="1000" data-hide-transition="left"><a href="#" class="btn">Portfolio <span class="btn-icon"><i class="fa fa-check-circle"></i></span></a></div>
					</div>	

				</div>
			</div><!-- /#angles-slider -->

			<div class="bottom-separator">
				<svg class="bottom-style" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
					<polygon points="-1 147,264 147,265 -2"></polygon>
				</svg>
			</div><!-- /.bottom-separator -->	
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->