<div id="profile" class="profile angles-wrapper_page angles-wrapper_page-2">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="top-space"></div><!-- /.top-space -->
				<div class="content-top text-center">
					<h2 class="page-title">Headliners</h2>
					<h3 class="page-subtitle">Portfolio</h3>					
				</div><!-- /.content-top -->
				<div class="content-bottom">
					<div class="profile-details">
						<p class="description">
							<strong>
								WE INVEST IN EXCEPTIONAL FOUNDERS.
							</strong>
							Our venture capital investments may cover a broad spectrum of mainstreet and technology ventures. The entrepreneurs and companies encompass diversity and variety in race, ethnicity, gender and ideas. The companies being selected go through a process that includes pitching to experienced entrepreneurs, investors and community leaders.
							<br/>
							<br/>
							We’re transparent in how we work and what we do: We like speed, brutal honesty and teamwork. The relationship with the founders is what matters most. This is how we build great companies – together! The commitment is there to be actively involved and help the founders to stay focused on what really matters in such a early stage –  the 3 most important things: product, product and product!
						</p>
					</div><!-- /.profile-details -->

					<div class="bottom-padding">
						<h3 class="section-title text-center">2019/2020</h3>
						<div class="interest-list text-center">
							<div class="col-sm-2 col-xs-6">
								<a href="https://orangeup.info/?utm_source=suego.co" class="item" target="_blank">
									<span class="item-icon"><i class="fa fa-user"></i></span>
									<span class="item-details">
										<span class="item-title">OrangeUP</span>
										<span class="item-description">A virtual assistant outsourcing business based in Bogotá, Colombia and expanding into the U.S.A.</span>
									</span><!-- /.item-details -->
								</a>
							</div>
							<div class="col-sm-2 col-xs-6">
								<a href="https://gingerandbourbon.com/?utm_source=suego.co" class="item" target="_blank">
									<span class="item-icon"><i class="fa fa-glass"></i></span>
									<span class="item-details">
										<span class="item-title">Ginger &amp; Bourbon</span>
										<span class="item-description">A specialty cocktails bar in the heart of the up and coming Bario San Felipe, Bogotá, Colombia.</span>
									</span><!-- /.item-details -->
								</a>
							</div>
						</div><!-- /.interest-list -->
					</div><!-- /.bottom-padding -->

				</div><!-- /.content-bottom -->	
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->