<div id="blog" class="blog angles-wrapper_page angles-wrapper_page-6">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="row">
					<div class="top-space"></div><!-- /.top-space -->
					<div class="content-top text-center">
						<h2 class="page-title">Blog</h2>
						<h3 class="page-subtitle">Latest news are available</h3>					
					</div><!-- /.content-top -->
					<div class="content-bottom">
						<div class="blog-posts">
							<div class="col-md-6 left-side">
								<article class="post type-post">
									<div class="post-thumbnail">
										<img src="assets/images/blog/1.jpg" alt="Post Image">
									</div><!-- /.post-thumbnail -->
									<div class="post-content">
										<h3 class="entry-title"><a href="single-post.html">Retrospect of my career</a></h3><!-- /.entry-title -->
										<div class="post-meta">
											<ul class="meta-list">
												<li>
													<time datetime="2015-08-15">Aug 15, 2015</time>
												</li>
												<li>
													<span class="author-name">John Doe</span>
												</li>
												<li>
													<span>15 comments</span>
												</li>
											</ul><!-- /.meta-list -->
										</div><!-- /.post-meta -->

										<p class="entry-content">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
										</p><!-- /.entry-content -->
									</div><!-- /.post-content -->
								</article><!-- /.post -->
								<article class="post type-post">
									<div class="post-thumbnail">
										<div class="video-container">

										</div><!-- /.video-container -->
									</div><!-- /.post-thumbnail -->
									<div class="post-content">
										<h3 class="entry-title"><a href="single-post.html">How came Infant School system of teaching</a></h3><!-- /.entry-title -->
										<div class="post-meta">
											<ul class="meta-list">
												<li>
													<time datetime="2015-08-15">Aug 15, 2015</time>
												</li>
												<li>
													<span class="author-name"></span>
												</li>
												<li>
													<span>15 comments</span>
												</li>
											</ul><!-- /.meta-list -->
										</div><!-- /.post-meta -->

										<p class="entry-content">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
										</p><!-- /.entry-content -->
									</div><!-- /.post-content -->
								</article><!-- /.post -->
								<article class="post type-post">
									<div class="post-thumbnail">
										<div  class="attachmentlink">
											<span>MAMA</span> Minimal WordPress Portfolio Theme
											<a href="#">http://ow.ly/tWCVe</a>
										</div><!-- /.attachmentlink -->
									</div><!-- /.post-thumbnail -->
									<div class="post-content">
										<h3 class="entry-title"><a href="single-post.html">Children the dupes of the profligate</a></h3><!-- /.entry-title -->
										<div class="post-meta">
											<ul class="meta-list">
												<li>
													<time datetime="2015-08-15">Aug 15, 2015</time>
												</li>
												<li>
													<span class="author-name">Anthony Doe</span>
												</li>
												<li>
													<span>15 comments</span>
												</li>
											</ul><!-- /.meta-list -->
										</div><!-- /.post-meta -->

										<p class="entry-content">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
										</p><!-- /.entry-content -->
									</div><!-- /.post-content -->
								</article><!-- /.post -->
							</div><!-- /.left-side -->

							<div class="col-md-6 right-side">
								<article class="post type-post">
									<div class="post-thumbnail">
										<div id="post-slider" class="post-slider carousel slide" data-ride="carousel">
											<!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<div class="item active">
													<img src="assets/images/blog/1.jpg" alt="Post Image">
												</div><!-- /.item -->
												<div class="item">
													<img src="assets/images/blog/2.jpg" alt="Post Image">
												</div><!-- /.item -->
												<div class="item">
													<img src="assets/images/blog/3.jpg" alt="Post Image">
												</div><!-- /.item -->
											</div><!-- /.carousel-inner -->
											<!-- Controls -->
											<a class="left carousel-control" href="#post-slider" role="button" data-slide="prev">
												<span class="ti-arrow-left"></span>
											</a>
											<a class="right carousel-control" href="#post-slider" role="button" data-slide="next">
												<span class="ti-arrow-right"></span>
											</a>
										</div>
									</div><!-- /.post-thumbnail -->
									<div class="post-content">
										<h3 class="entry-title"><a href="single-post.html">Afflicting cases of early depravity</a></h3><!-- /.entry-title -->
										<div class="post-meta">
											<ul class="meta-list">
												<li>
													<time datetime="2015-08-15">Aug 15, 2015</time>
												</li>
												<li>
													<span class="author-name">Julia Doe</span>
												</li>
												<li>
													<span>15 comments</span>
												</li>
											</ul><!-- /.meta-list -->
										</div><!-- /.post-meta -->

										<p class="entry-content">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
										</p><!-- /.entry-content -->
									</div><!-- /.post-content -->
								</article><!-- /.post -->
								<article class="post type-post">
									<div class="post-thumbnail">
										<blockquote class="post-blockquote">In the design process, my gut instinct is my best critic. I just wished I would always listen to it!
											<span class="quote-author"> Brayan Tamayo</span>
										</blockquote>
									</div><!-- /.post-thumbnail -->
									<div class="post-content">
										<h3 class="entry-title"><a href="single-post.html">Results of early tuition in crime</a></h3><!-- /.entry-title -->
										<div class="post-meta">
											<ul class="meta-list">
												<li>
													<time datetime="2015-08-15">Aug 15, 2015</time>
												</li>
												<li>
													<span class="author-name">Marie</span>
												</li>
												<li>
													<span>15 comments</span>
												</li>
											</ul><!-- /.meta-list -->
										</div><!-- /.post-meta -->

										<p class="entry-content">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
										</p><!-- /.entry-content -->
									</div><!-- /.post-content -->
								</article><!-- /.post -->
							</div><!-- /.right-side -->
						</div><!-- /.blog-posts -->

						<div class="btn-container text-center">
							<a class="btn load-more" href="">Load More</a>
						</div><!-- /.btn-container -->

					</div><!-- /.content-bottom -->	
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->