<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="description" content="A seed and early-stage venture capital fund. We invest in extraordinary entrepreneurs with unique business models that will define the next era of innovation.">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="apple-touch-icon" href="apple-icon.png">
	<link rel="shortcut icon" href="suego.co/favicon.ico">

	<!-- Include Bootstrap Css -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Include Fontawesome Icon Css -->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Include Themify Icon Css -->
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<!-- Include Simple Line Icons Css -->
	<link rel="stylesheet" href="assets/css/simple-line-icons.css">
	<!-- Include Animsition Css -->
	<link rel="stylesheet" href="assets/css/animsition.min.css">
	<!-- Include Magnific PopUp Css -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- Include Style Css -->
	<link rel="stylesheet" href="assets/css/slider-pro.css">
	<!-- Include Owl Carousel Css -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- Include Style Css -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- Include Responsive Css -->
	<link rel="stylesheet" href="assets/css/responsive.css">
	<!-- Include FontAwesome Css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css'>

	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>