<div id="resume" class="resume angles-wrapper_page angles-wrapper_page-3">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="top-space"></div><!-- /.top-space -->
				<div class="content-top text-center">
					<h2 class="page-title">Resume</h2>
					<h3 class="page-subtitle">Discovere who we are</h3>					
				</div><!-- /.content-top -->

				<div class="content-bottom">
					<div class="about-resume">

						<h3 class="section-title text-center">Employment</h3>
						<div class="job-details">
							<div class="row">
								<div class="item">
									<div class="col-sm-6">
										<div class="box">
											<span class="from">2012</span> - <span class="to">Present</span>
											<div class="institution">
												Company name
											</div><!-- /.institution -->
										</div><!-- /.box -->
									</div>
									<div class="col-sm-6">
										<h3 class="name">Job name here</h3><!-- /.name -->
										<p class="description">
											Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
										</p><!-- /.description -->	
									</div>
								</div>
								<div class="item">
									<div class="col-sm-6">
										<div class="box">
											<span class="from">2009</span> - <span class="to">2012</span>
											<div class="institution">
												Company name
											</div><!-- /.institution -->
										</div><!-- /.box -->
									</div>
									<div class="col-sm-6">
										<h3 class="name">Job name here</h3><!-- /.name -->
										<p class="description">
											Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
										</p><!-- /.description -->	
									</div>
								</div>
								<div class="item">
									<div class="col-sm-6">
										<div class="box">
											<span class="from">2007</span> - <span class="to">2009</span>
											<div class="institution">
												Company name
											</div><!-- /.institution -->
										</div><!-- /.box -->
									</div>
									<div class="col-sm-6">
										<h3 class="name">Job name here</h3><!-- /.name -->
										<p class="description">
											Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
										</p><!-- /.description -->	
									</div>
								</div>
							</div>
						</div><!-- /.job-details -->


						<div class="bottom-padding">
							<h3 class="section-title text-center">Education</h3>
							<div class="education-details">
								<div class="row">
									<div class="item">
										<div class="col-sm-6">
											<div class="box">
												<span class="from">2007</span> - <span class="to">2009</span>
												<div class="institution">
													Institute name
												</div><!-- /.institution -->
											</div><!-- /.box -->
										</div>
										<div class="col-sm-6">
											<h3 class="name">Degree name</h3><!-- /.name -->
											<p class="description">
												Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
											</p><!-- /.description -->	
										</div>
									</div>
									<div class="item">
										<div class="col-sm-6">
											<div class="box">
												<span class="from">2005</span> - <span class="to">2007</span>
												<div class="institution">
													Institute name
												</div><!-- /.institution -->
											</div><!-- /.box -->
										</div>
										<div class="col-sm-6">
											<h3 class="name">Degree name</h3><!-- /.name -->
											<p class="description">
												Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
											</p><!-- /.description -->	
										</div>
									</div>
									<div class="item">
										<div class="col-sm-6">
											<div class="box">
												<span class="from">2003</span> - <span class="to">2005</span>
												<div class="institution">
													Institute name
												</div><!-- /.institution -->
											</div><!-- /.box -->
										</div>
										<div class="col-sm-6">
											<h3 class="name">Degree name</h3><!-- /.name -->
											<p class="description">
												Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
											</p><!-- /.description -->	
										</div>
									</div>
								</div>
							</div><!-- /.education-details -->
						</div><!-- /.bottom-padding -->

						<div id="counter" class="bottom-padding">
							<div class="facts text-center">
								<div class="facts-items">
									<div class="row">
										<div class="col-md-3 col-sm-6">
											<div class="item">
												<div class="item-icon"><i class="fa fa-clock-o"></i></div><!-- /.item-icon -->
												<div class="countdown">
													<span class="count-number counter">3412</span>
												</div><!-- /.countdown -->
												<span class="item-about">Hours Worked</span><!-- /.item-about -->
											</div><!-- /.item -->
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="item">
												<div class="item-icon"><i class="fa fa-folder"></i></div><!-- /.item-icon -->
												<div class="countdown">
													<span class="count-number counter">239</span>
												</div><!-- /.countdown -->
												<span class="item-about">Projects Done</span><!-- /.item-about -->
											</div><!-- /.item -->
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="item">
												<div class="item-icon"><i class="fa fa-users"></i></div><!-- /.item-icon -->
												<div class="countdown">
													<span class="count-number counter">107</span>
												</div><!-- /.countdown -->
												<span class="item-about">Happy Clients</span><!-- /.item-about -->
											</div><!-- /.item -->
										</div>
										<div class="col-md-3 col-sm-6">
											<div class="item">
												<div class="item-icon"><i class="fa fa-trophy"></i></div><!-- /.item-icon -->
												<div class="countdown">
													<span class="count-number counter">99</span>
												</div><!-- /.countdown -->
												<span class="item-about">Awards Received</span><!-- /.item-about -->
											</div><!-- /.item -->
										</div>
									</div><!-- /.row -->
								</div>
							</div><!-- /.facts -->
						</div><!-- /.bottom-padding -->

						<div id="progressbar" class="bottom-padding">
							<div class="skill-details">
								<div class="row">
									<h3 class="section-title text-center">My Capabilities</h3>
									<div class="col-md-6">
										<h3 class="title">Programming skills</h3>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="75" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">WordPress <span class="percent">76%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="85" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">Php <span class="percent">69%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="93" data-transitiongoal="35" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">Javascript <span class="percent">93%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="72" aria-valuemin="0" aria-valuemax="100" >
												<span class="progress-title">MySql <span class="percent">72%</span></span>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<h3 class="title">Design skills</h3>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="97" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">Photoshop <span class="percent">97%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="69" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">Illustrator <span class="percent">69%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="85" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">Indesign <span class="percent">85%</span></span>
											</div>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" data-transitiongoal="61" aria-valuemin="0" aria-valuemax="100">
												<span class="progress-title">3D Max <span class="percent">61%</span></span>
											</div>
										</div>
									</div>
								</div><!-- /.row -->
							</div><!-- /.skill-details -->
						</div><!-- /.bottom-padding -->

						<div id="skills" class="bottom-padding">
							<div class="row">
								<div class="col-md-7">
									<h3 class="title">Language Skills</h3>
									<div id="language-details" class="language-details">
										<div class="col-sm-6 col-md-3 text-center"> 
											<div class="chart" data-percent="95">
												<div class="chart-content">
													<span class="item-title">English</span>
													<span class="data-percent">95</span>	
												</div><!-- /.chart-content -->
											</div>
										</div>

										<div class="col-sm-6 col-md-3 text-center"> 
											<div class="chart" data-percent="85">
												<div class="chart-content">
													<span class="item-title">German</span>
													<span class="data-percent">85</span>	
												</div><!-- /.chart-content -->
											</div>
										</div>

										<div class="col-sm-6 col-md-3 text-center"> 
											<div class="chart" data-percent="75">
												<div class="chart-content">
													<span class="item-title">Spanish</span>
													<span class="data-percent">75</span>
												</div><!-- /.chart-content -->
											</div>
										</div>

										<div class="col-sm-6 col-md-3 text-center"> 
											<div class="chart" data-percent="60">
												<div class="chart-content">
													<span class="item-title">French</span>
													<span class="data-percent">60</span>	
												</div><!-- /.chart-content -->
											</div>
										</div>
									</div><!-- /.language-details -->
								</div>
								<div class="col-md-5">
									<div class="knowledge-details">
										<h3 class="title">Knowledge Base</h3>
										<div class="row">
											<div class="col-sm-6">
												<span>Web Developer</span>
												<span>Digital Art</span>
												<span>Web Design</span>
												<span>Video Editing</span>
												<span>Web Usuability</span>
											</div>
											<div class="col-sm-6">
												<span>Web Developer</span>
												<span>Digital Art</span>
												<span>Web Design</span>
												<span>Video Editing</span>
												<span>Web Usuability</span>
											</div>
										</div><!-- /.row -->
									</div><!-- /.knowledge-details -->
								</div>	
							</div><!-- /.row -->
						</div><!-- /.bottom-padding -->

					</div><!-- /.resume-details -->
				</div><!-- /.content-bottom -->	
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->