<div id="works" class="works angles-wrapper_page angles-wrapper_page-4">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="top-space"></div><!-- /.top-space -->
				<div class="content-top text-center">
					<h2 class="page-title">Portfolio</h2>
					<h3 class="page-subtitle">Top quality performance</h3>					
				</div><!-- /.content-top -->
				<div class="content-bottom text-center">
					<div class="itemFilter">
						<a href="#" data-filter="" class="current">All Works</a>
						<a href="#" data-filter=".cat-1">UI Design</a>
						<a href="#" data-filter=".cat-2">Web Design</a>
						<a href="#" data-filter=".cat-3">Illustration</a>
					</div> <!-- /.itemFilter -->

					<div id="work-items" class="work-items">
						<div class="item cat-2 cat-3 border">
							<a href="assets/images/works/1.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/1.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-1 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-3 item-h2 border">
							<a href="assets/images/works/2.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/2.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-2 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-2 border">
							<a href="assets/images/works/3.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/3.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-3 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-2 cat-3 border">
							<a href="assets/images/works/4.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/4.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-4 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-3 cat-1 item-h2 border">
							<a href="assets/images/works/5.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/5.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-5 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-3 border">
							<a href="assets/images/works/6.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/6.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-6 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-3 item-h2 border">
							<a href="assets/images/works/7.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/7.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-7 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-3 border">
							<a href="assets/images/works/8.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/8.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-8 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

						<div class="item cat-1 cat-3 border">
							<a href="assets/images/works/9.jpg" class="image-popup-vertical-fit">
								<img src="assets/images/works/9.jpg" alt="Item Image">
							</a>
							<div class="item-details">
								<h3 class="item-title"><a href="single-portfolio.html">Work item-8 title</a></h3>
							</div><!-- /.item-details -->
						</div><!-- /.item -->

					</div><!-- /#work-items -->

					<div class="btn-container text-center">
						<a class="btn load-more" href="">Load More</a>
					</div><!-- /.btn-container -->

				</div><!-- /.content-bottom -->	
			</div><!-- /.container -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->