<div id="contact" class="contact angles-wrapper_page angles-wrapper_page-7">
	<div class="angles-page-content">
		<div class="angles-content">
			<div class="container">
				<div class="row">
					<div class="top-space"></div><!-- /.top-space -->
					<div class="content-top text-center">
						<h2 class="page-title">Contact</h2>
						<h3 class="page-subtitle">I'm available 24x7</h3>					
					</div><!-- /.content-top -->
					<div class="content-bottom">
						<div class="contact-info text-center">
							<div class="col-sm-4 contact-info-box">												
								<span class="item-icon phone">
									<i class="icons icon-call-in"></i>
								</span>
								<p class="item-title">Phone</p>
								<span class="texts">+61 (001) 2345 67890 <br>
									+61 (001) 2345 67890
								</span>
							</div><!-- /.contact-info-box -->

							<div class="col-sm-4 contact-info-box">
								<span class="item-icon map-marker">
									<i class="icons icon-location-pin"> </i>
								</span>
								<p class="item-title">Address</p>
								<span class="texts">121 King Street, Melbourne<br> VIC 3000, Australia </span>
							</div> <!-- /.contact-info-box -->

							<div class="col-sm-4 contact-info-box">												
								<span class="item-icon envelope">
									<i class="icons icon-envelope-letter"></i>
								</span>
								<p class="item-title">Email</p>
								<span class="texts"><a href="#">email_us@angles.com</a> <br>
									<a href="#">info@angles.com</a>
								</span>
							</div><!--  /.contact-info-box -->

						</div><!-- /.contact-info -->

						<div class="bottom-padding">
							<h3 class="section-title text-center">Say Hello!</h3>
							<form action="email.php" method="post" class="wpcf7-form">
								<p class="wpcf7-form-control-wrap your-name">
									<input type="text" name="name" id="name" value="" class="wpcf7-form-control wpcf7-text" placeholder="Name" required />
									<span class="name-error"></span>
								</p>
								<p class="wpcf7-form-control-wrap your-email">
									<input type="email" name="email" id="email" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" placeholder="Email" required/>
									<span class="email-error"></span>
								</p>
								<p class="wpcf7-form-control-wrap your-subject">
									<input type="text" name="subject" id="subject" value="" class="wpcf7-form-control wpcf7-text" placeholder="Subject" required/>
									<span class="subject-error"></span>
								</p>

								<p class="wpcf7-form-control-wrap your-message">
									<textarea name="message" id="message" cols="40" rows="6" class="wpcf7-form-control wpcf7-textarea" placeholder="Your message here" required></textarea>
									<span class="message-error"></span>
								</p>

								<p class="contact-form-elements"> 
									<input type="submit" name="submit" id="submit" value="Send Mesage" class="wpcf7-form-control btn wpcf7-submit" /> 
								</p>
								<div class="wpcf7-response-output wpcf7-display-none"></div>
							</form><!-- /.wpcf7-form -->
						</div><!-- /.bottom-padding -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.content-bottom -->
			<div id="google-map" class="google-map">
				<div id="googleMaps" class="google-map-container"></div>
			</div><!-- /#google-map -->
		</div><!-- /.angles-content -->
	</div><!-- /.angles-page-content -->
</div><!-- /.angles-wrapper_page -->