<nav class="angles-wrapper_menu page-active-1">
	<div class="angles-menu-item angles-menu-item-1 m--btn js-menuBtn" data-page="1" >
		<svg class="icon-pattern" viewbox="0 0 10 10" >
			<polygon points="0 175 175 90 0 0"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" data-placement="right" title="Home"><i class="icons icon-home"></i></div>
	</div>
	<div class="angles-menu-item angles-menu-item-2" data-page="2">
		<svg class="icon-pattern"  viewbox="0 0 10 10">													                    
			<polygon points="1 77 175 166 175 -7"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Headliners" data-placement="right"><i class="icons icon-user"></i></div>
	</div>
	<!--
	<div class="angles-menu-item angles-menu-item-3" data-page="3">
		<svg class="icon-pattern" viewbox="0 0 10 10">
			<polygon points="0 175 175 90 0 0"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Resume" data-placement="right"><i class="icons icon-graduation"></i></div>
	</div>
	<div class="angles-menu-item angles-menu-item-4" data-page="4">
		<svg class="icon-pattern"  viewbox="0 0 10 10">													                    
			<polygon points="1 77 175 166 175 -7"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Portfolio" data-placement="right"><i class="icons icon-briefcase"></i></div>
	</div>
	<div class="angles-menu-item angles-menu-item-5" data-page="5">
		<svg class="icon-pattern" viewbox="0 0 10 10">
			<polygon points="0 175 175 90 0 0"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Service" data-placement="right"><i class="icons icon-layers"></i></div>
	</div>
	<div class="angles-menu-item angles-menu-item-6" data-page="6">
		<svg class="icon-pattern"  viewbox="0 0 10 10">													                    
			<polygon points="1 77 175 166 175 -7"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Blog" data-placement="right"><i class="icons icon-book-open"></i></div>
	</div>
	<div class="angles-menu-item angles-menu-item-7" data-page="7">
		<svg class="icon-pattern" viewbox="0 0 10 10">
			<polygon points="0 175 175 90 0 0"/>
		</svg>
		<div class="angles-menu-item-content" data-toggle="tooltip" title="Contact" data-placement="right"><i class="icons icon-envelope"></i></div>
	</div>
	-->
</nav>