<footer id="footer">
  <div class="copyright-wrapper">
    <p class="copyright">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}.<br/>All Rights Reserved.</p>
  </div>
  <div class="social-wrapper">
    <ul class="social-networks">
      <li><a class="google-plus" id="gp-footer" title="Google+" href="https://plus.google.com/+Suego" target="_blank">Google+</a></li>
      <!--
      <li><a class="facebook" id="fb-footer" title="Facebook" href="https://facebook.com/SuegoHQ" target="_blank">Facebook</a></li>
      <li><a class="twitter" id="tw-footer" title="Twitter" href="http://twitter.com/SuegoHQ" target="_blank">Twitter</a></li>
      <li><a class="linkedin" id="li-footer" title="LinkedIn" href="https://linkedin.com/company/Suego" target="_blank">LinkedIn</a></li>
      -->
    </ul>
  </div>
  <div class="mixpanel-logo-wrapper">
    <p class="mixpanel-logo"><a href="https://mixpanel.com/f/partner" target="_blank"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></p>
  </div>
</footer>
