<header id="header">

  <div class="logo-wrapper">
    <h1 class="logo corporate"><a href="{{ base.url }}/">{{ site.title }}</a></h1>
    <div class="services-menu-button">services</div>
    <div class="services-menu corporate">
      <h2>Our Services</h2>
      <ul>
        <li><a class="menu-web" href="{{ base.url }}/services"><div class="logo web small">Website Design</div></a></li>
        <li><a class="menu-brand" href="{{ base.url }}/services"><div class="logo brand small">Inbound Marketing</div></a></li>
        <li><a class="menu-market" href="{{ base.url }}/services"><div class="logo market small">Brand Strategy</div></a></li>
      </ul>
    </div>
  </div> 

  <hr class="embossed">
  <div class="navigation">
    <nav id="menu-wrapper">
      <div id="menu"><div>
      <ul id="nav" class="se live-site">
        <li id="menu2" class="menulink link6">
          <a href="{{ base.url }}/about/">Who We Are</a>
        </li>
        <li id="menu3" class="menulink link26">
          <a href="{{ base.url }}/expertise/">What We Do</a>
        </li>
        <li id="menu1" class="menulink link7">
          <a href="{{ base.url }}/work/">Our Work</a>
        </li>
        <li id="menu4" class="menulink link2">
          <a href="{{ base.url }}/contact/">Connect With Us</a>
        </li>
      </ul>
    </nav>
  </div>

  <hr class="embossed">
  <div class="header-link-col">
    <!--
    <a href="{{ base.url }}/#" class="icon-link dining-club">Affiliates</a>
    <a href="{{ base.url }}/#" class="icon-link gift-cards">Partners</a>
    -->
    <hr class="light">
    <div class="social-wrapper">
      <ul class="social-networks">
        <li><a class="google-plus" id="gp" title="Google+" href="https://plus.google.com/+Suego" target="_blank">Google+</a></li>
        <!--
        <li><a class="facebook" id="fb" title="Google+" href="https://www.facebook.com/SuegoHQ" target="_blank">Facebook</a></li>
        <li><a class="linkedin" id="li" title="LinkedIn" href="https://linkedin.com/company/Suego" target="_blank">LinkedIn</a></li>
        <li><a class="twitter" id="tw" title="Twitter" href="https://twitter.com/SuegoHQ" target="_blank">Twitter</a></li>
        -->
      </ul>
    </div> 
  </div> 
  <div class="consultation-helper test">
    <!--<a class="tel" href="tel:888.944.6461" style="cursor:default;">888.944.6461</a>-->
    <a class="btn ghost" href="{{ base.url }}/contact/">Contact Us</a>
  </div> 
</header>