<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/bxslider.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/misc.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.stickystack.v1-1-2.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.ajaxchimp.min.js" | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/script.js" | prepend: site.url }}"></script>
