<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/bxslider.js" | prepend: base.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: base.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/misc.js" | prepend: base.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.stickystack.v1-1-2.js" | prepend: base.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.ajaxchimp.min.js" | prepend: base.url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/script.js" | prepend: base.url }}"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
