<section class="prefooter">
   <div class="left">
      <div class="email">
         <h2>Get on the List</h2>
         <hr class="light">
         <p>Helpful solutions, strategies, and updates to grow your business from industry thought-leaders, delivered right to your inbox.</p>
         <p class="alert-success"></p>
         <p class="alert-warning"></p>
         <form class="newsletter-signup" role="form">
            <div class="input-group">
               <input type="email" class="form-control" id="email" placeholder="name@domain.com" required>
               <span class="input-group-btn">
                  <input type="submit" class="btn" value="Sign Me Up">
               </span>
            </div><!-- /input-group -->
         </form>
      </div> 
   </div> 

   <div class="right">
      <div class="events">
         <h2>News</h2>
         <hr class="light">
         <p><strong class="brackets brand">The Washington Center</strong> Features Steven</p>
         <hr class="light">
         <p><strong class="brackets brand">Molloy H.S.</strong> Highlights Steven</p>
         <hr class="light">
         <p><strong class="brackets market">Operation HOPE</strong> Sales 101 Workshop</p>
      </div> 
   </div>

   <div class="service web">
      <a href="{{ base.url }}/contact/">
         <div class="logo web"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/contact/" class="brackets web">Talk Web</a>
      <br/>
      <a href="{{ base.url }}/contact/" class="visit-link">Let's Talk Web Strategy</a>
   </div>

   <div class="service brand">
      <a href="{{ base.url }}/contact/">
         <div class="logo brand"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/contact/" class="brackets brand">Talk Branding</a>
      <br/>
      <a href="{{ base.url }}/contact/" class="visit-link">Let's Talk Branding</a>
   </div>

   <div class="service market">
      <a href="{{ base.url }}/contact/">
         <div class="logo market"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/contact/" class="brackets market">Talk Marketing</a>
      <br/>
      <a href="{{ base.url }}/contact/" class="visit-link">Let's Talk Marketing</a>
   </div> 
</section>
