<section class="prefooter">
   <div class="left">
      <div class="email">
         <h2>Get on the List</h2>
         <hr class="light">
         <p>Helpful solutions, strategies, and updates to grow your business from industry thought-leaders, delivered right to your inbox.</p>
         <p class="alert-success"></p>
         <p class="alert-warning"></p>
         <form class="newsletter-signup" role="form">
            <div class="input-group">
               <input type="email" class="form-control" id="email" placeholder="name@domain.com" required>
               <span class="input-group-btn">
                  <input type="submit" class="btn" value="Sign Me Up">
               </span>
            </div><!-- /input-group -->
         </form>
      </div> 
   </div> 

   <div class="right">
      <div class="map-wrap">
         <iframe width="100%" height="450" scrolling="no" scrollwheel="false" style="border:0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d212024.6551414677!2d-77.14249941913737!3d38.97507300255325!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec4e71a4cefcb194!2sSuego!5e0!3m2!1sen!2sus!4v1469975039451"></iframe>
      </div> 
   </div>

   <div class="service brand">
      <a href="{{ base.url }}/contact/">
         <div class="logo brand"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/contact/" class="brackets web">Talk Solutions</a>
      <br/>
      <a href="{{ base.url }}/contact/" class="visit-link">Let's Talk Biz Strategy</a>
   </div>

   <div class="service web">
      <a href="{{ base.url }}/marketing/">
         <div class="logo web"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/marketing/" class="brackets brand">Talk Marketing</a>
      <br/>
      <a href="{{ base.url }}/marketing/" class="visit-link">Let's Talk Marketing</a>
   </div>

   <div class="service market">
      <a href="{{ base.url }}/contact/">
         <div class="logo market"></div>
      </a>
      <br/>
      <a href="{{ base.url }}/contact/" class="brackets market">Talk Entrepreneurship</a>
      <br/>
      <a href="{{ base.url }}/contact/" class="visit-link">Let's Talk Entrepreneurship</a>
   </div> 
</section>
